body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  background-image: url(background.png);
}

#results {
  display: none;
}

.color {
  color: #FD7035
}

.btn {
  background-color: #FD7035;
  color: white;

}
