body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.img {
  display: none;
}

.color {
  color: #B0413E
}

.footer {
  position: absolute;
  padding-top: 20px;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #F78764;
  color: white;
}

.btn {
  background-color: #F78764;
  color: white;

}
