body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  background-image: url(background.png);
}

.img {
  display: none;
}

.color {
  color: #FD7035
}

.btn {
  background-color: #F78764;
  color: white;

}
